@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "MarketIo";
  src: url("/assets/fonts/market-regular.ttf");
  font-weight: 400;
}
p {
  margin: 0px;
}
:root {
  --background-color: #15032a;
  --text-color: #fff;
  --text-color-blue: #b5bbc4;
  --padding-mobile: 40px;
  --color-list-footer: #0d4363;
  --color-paraph--footer: #5c5b61;
  --color-black: #000;
}
body {
  background-color: var(--background-color);
  margin: 0px;
  color: var(--text-color);
}
.header {
  position: relative;
  display: flex;
  color: var(--text-color);
}
.header_menu_mini {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  height: 100%;
  left: -65%;
  width: 65%;
  background-color: var(--background-color);
  transition: all 1s;
}
.header_menu_mini_ul{
  padding: 0px;
  list-style: none;
}
.header_menu_mini_ul li{
 font-family: "Montserrat", sans-serif;
 padding: 20px 0px;
}
#show_menu {
  display: none;
}
#show_menu:checked~.header_menu_mini {

  left: 0px;
}
/* #show_menu:checked ~.label_hamberger {
left: 43%;
} */
.header_navigator {
  /* display: inline-flex; */
  display: flex;
  width: 50px;
  min-width: 40px;
  height: 100vh;
  flex-direction: column;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_text_sidebar {
  position: absolute;
  transform: rotate(-90deg);
  width: max-content;

  /* left:180px; */
}
.header_navigator p {
  /* display: inline-flex; */
  display: inline-block;
  padding-right: 20px;
}
.header_navigator p img {
  transform: rotate(90deg);
}
.header .label_hamberger{
  position: absolute;
    z-index: 10;

}
.label_hamberger_mini{
  position: absolute;
  right: 10px;
  top: 0px;
}
.header_hamberger {

  width: 20px;

  height: 14px;
  padding: 20px 10px;
 
  cursor: pointer;
}
.header_text_sidebar_p_big {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 40px;
}
.header_text_sidebar_p_small {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 40px;
  color: var(--text-color-blue);
}
.header_content {
  flex-grow: 1;
  background-image: url("../images/RectangleE.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  min-width: 240px;
}
.header_content h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 55px;
  font-size: 55px;
  width: 100px;
  margin-top: 15vh;
  /* letter-spacing: 10px; */
}
.header_content .header_content_small h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 35px;
  font-size: 15px;
  margin-bottom: 0px;

  /* letter-spacing: 10px; */
}
.header_content .header_content_small p {
  font-family: "Montserrat", sans-serif;
  max-width: 450px;
  min-width: 200;
  line-height: 15px;
  font-size: 10px;
  /* letter-spacing: 10px; */
}
.header_content_your {
  margin: 0px;
}
.header_content_threeDot {
  position: absolute;
  width: 25px;
  right: 25px;
  bottom: 3vh;
}
.header_content_mail {
  display: none;
}
.header_content_date {
  display: none;
}
.carousel {
  padding: 20px 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: initial;
  position: relative;
  /* width: 100%; */
  transition: all 1s;
  width: 500%;
  margin-left: -290px;
  /* width: 300px !important; */
}
.mySlides {
  width: 280px;
  flex-basis: 280px;
  margin-right: 10px;
  transition: all 1s;
}
.mySlides .image::before {
  content: "";
  z-index: 100;
  width: 20px;
  height: 20px;
  background-color: var(--background-color);
  position: absolute;
  transform: rotate(45deg);
  bottom: -10px;
  left: -10px;
}
.mySlides .image {
  position: relative;
  background-image: url(/assets/images/carouselImage.png);
  background-position: bottom;
  background-size: cover;
  width: 100%;

  height: 180px;
}
.mySlides .image_img {
  width: 100%;
  height: 100%;

  min-width: 240px;
}
.carousel_people_react {
  display: flex;

  position: absolute;
  right: 10px;
  bottom: 10px;
}
.carousel_people_react p {
  color: var(--text-color);
  margin: 0px;
  font-size: 10px;
  line-height: 8px;
  color: var(--text-color-blue);
  font-family: "Montserrat", sans-serif;
  padding-left: 3px;
}
.carousel_people_react img {
  width: 8px;
  height: 8px;
}
.carousel_text {
  position: relative;
  background-color: var(--text-color);
  padding: 30px 30px 20px 30px;
  height: 220px;
  color: #000;
  min-width: 220px;
}
.carousel_text .carousel_text_paraph {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
.button_next {
  display: none;
}
.carousel_text_dot {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 20px;
}
.carousel_text_comment {
  position: absolute;
  display: flex;
  left: 20px;
  bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: fit-content;
}
.carousel_text_comment img {
  width: 20px;
}
.border_carousel {
  width: 100%;
  min-width: 240px;
  overflow: hidden;
}
.carousel_text h1 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.center {
  position: relative;
}
.center_image {
  position: relative;
  background-image: url(/assets/images/imageCenter.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 320px;
  height: 70vh;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center_image h1 {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  margin-top: 80px;
  width: 300px;
}
.center_image_only {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 200;
  height: 45px;
  width: 45px;
  left: 43%;
  top: 25%;
  line-height: 45px;
  border: 3px solid var(--text-color);
  padding: 0px;
  border-radius: 50%;
}
.center_image_textBottom {
  text-align: center;
  padding: 0px 20px;
}
.center_image_textBottom h5 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  margin-top: 40px;
}
.center_image_textBottom p {
  margin: 0px;
  font-family: "Montserrat", sans-serif;

  font-size: 10px;
  line-height: 15px;
  max-width: 380px;
}
.paraph_center {
  padding: 40px var(--padding-mobile) 20px var(--padding-mobile);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  min-width: 240px;
}
.paraph_center p {
  margin-bottom: 20px;
}
.paraph_bottom {
  font-family: "Montserrat", sans-serif;
  padding: var(--padding-mobile);
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px 20px;
  min-width: 240px;
}
.paraph_bottom p {
  font-size: 10px;
}
.paraph_bottom h3 {
  font-size: 17px;
}
.bottom_image {
  position: relative;
  background-image: url(/assets/images/imageBottom.png);
  height: 60vh;
  width: 100%;
  min-width: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: end;
}
.bottom_image_wrapconten {
  padding: 60px var(--padding-mobile);
  font-family: "Montserrat", sans-serif;
}
.bottom_image_wrapconten h1 {
  font-size: 27px;
  margin: 0px;
  line-height: 20px;
  margin-bottom: 25px;
}
.bottom_image_wrapconten h3 {
  font-size: 17px;
  line-height: 15px;
  margin: 0px;
  margin-bottom: 10px;
}
.bottom_image_wrapconten p {
  font-size: 10px;
  margin: 0px;
  max-width: 290px;
}
.side_navigator {
  display: none;
}
.footer .list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding-mobile);
  padding-right: 30px;
}
.footer .list ul {
  list-style: none;
  flex-basis: 150px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 30px;
  padding-left: 0px;
  margin-right: 10px;
}
.footer .list .list_middle {
  margin-right: 20px;
}

.footer .list .list_paraph {
  line-height: 15px;
  flex-basis: 300px;
}

.footer .list .title_list {
  color: var(--color-list-footer);
  margin-bottom: 20px;
}
.footer p {
  color: var(--color-paraph--footer);
  padding: var(--padding-mobile);
  padding-top: 0px;
}
.title_carousel {
  display: none;
}
.carousel_bottom {
  display: none;
}
.wrap_paraph_center_title {
  display: none;
}
.wrap_paraph_bottom_title {
  display: none;
}
@media only screen and (min-width: 480px) {
  .header_hamberger {
    width: 30px;
    height: 25px;
  }
  .header_content h1 {
    font-size: 60px;

    /* letter-spacing: 10px; */
  }
  .header_menu_mini {

  left: -50%;
  width: 50%;

}
#show_menu:checked ~.label_hamberger_mini{
left: 38%;
}
}
@media only screen and (min-width: 768px) {
  .header_navigator {
    width: 50px;
  }

  .header_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .header_content h1 {
    position: relative;
    text-align: center;
    width: 270px;
    margin-top: 0px;
  }
  .header_content_small {
    position: absolute;
    bottom: 5vh;
    left: 70px;
    text-align: start;
  }
  .header_content_your {
    font-family: "MarketIo", Arial;
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    height: 45px;
    width: 45px;
    left: 40%;
    top: 25%;
    line-height: 45px;
    border: 3px solid var(--text-color);
    padding: 0px;
    border-radius: 50%;
    transform: rotate(-20deg);
  }
  .header_content_threeDot {
    display: none;
  }
  .header_content_mail {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .header_content_date {
    display: block;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 10px;
  }
  .header_menu_mini {

  left: -40%;
  width: 40%;

}
/* #show_menu:checked ~label{
left: 34%;
} */
  .center_image_content_date {
    display: block;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 10px;
  }
  /* .center_image h1 {
    margin-top: 120px;
  } */
  .center_image_textBottom {
    position: absolute;
    margin-top: 0px;
    display: block;
    width: 80%;
    left: 50px;
    text-align: start;
    bottom: 30px;
  }
  .center_image {
    left: 50px;
    width: calc(100% - 50px);
  }
  .paraph_center {
    width: 70vw;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .center_navigator {
    display: flex;
  }
  .center_empty_content {
    height: 280px;
    flex-grow: 1;
  }
  .center_wrap {
    margin-top: -280px;
    background-image: url(/assets/images/Layer2.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
       background-attachment: fixed;
  }

  .side_navigator {
    display: flex;
    transform: rotate(-90deg);
    /* flex-direction: column; */
    /* bottom: 150px;
     left: -110px; */
    z-index: 1000;
  }
  .side_navigator p {
    margin-right: 20px;
    line-height: 45px;
  }
  .side_navigator .image {
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    padding-left: 35px;
    /* margin-right: 40px; */
    line-height: 0px;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: var(--color-black);
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .title_carousel {
    display: block;
    margin: 0px;
    padding-left: 120px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 25px;
  }
  .mySlides {
    width: 200px;
    flex-basis: 200px;
    margin-right: 20px;
    transition: width 2s;
  }
  .mySlides .image_img {
    min-width: 200px;
  }
  .mySlides .image::before {
    width: 10px;
    height: 10px;

    bottom: -5px;
    left: -5px;
  }
  .mySlides .image {
    width: 100%;
    position: relative;
    background-image: url(/assets/images/carouselImage.png);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100px;
    min-width: 200px;
  }
  .carousel_text {
    position: relative;
    background-color: var(--text-color);
    padding: 15px 10px 10px 20px;
    height: 120px;
    color: #000;
    min-width: 170px;
  }
  .carousel_text h1 {
    font-size: 13px;

    margin-bottom: 0px;
  }
  .carousel_text_dot {
    width: 15px;
    bottom: 10px;
  }
  .carousel_text_comment {
    font-size: 10px;
    bottom: 10px;
  }
  .carousel_text_comment img {
    width: 15px;
  }
  .carousel_bottom {
    padding: 20px 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: initial;
    position: relative;
    transition: all 1s;
    /* width: 100%; */
  }
  .mySlides_bottom {
    width: 200px;
    flex-basis: 200px;
    margin-right: 20px;
    transition: width 2s;
  }
  .mySlides_bottom .image {
    width: 100%;
    position: relative;
    background-image: url(/assets/images/carouselImage.png);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100px;
  }
  .mySlides_bottom .image::before {
    content: "";
    z-index: 100;
    width: 10px;
    height: 10px;
    background-color: var(--background-color);
    position: absolute;
    transform: rotate(45deg);
    bottom: -5px;
    left: -5px;
  }
  .carousel_frame_empty {
    width: 100%;
    height: 250px;
  }
  .wrap_carousel {
    background-image: url(/assets/images/Layer2.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
      background-attachment: fixed;
  }
  .center {
    margin-top: -240px;
  }

  .paraph_bottom {
    display: flex;
  }
  .paraph_bottom p {
    font-size: 10px;
  }
  .paraph_bottom h3 {
    font-size: 17px;
  }
  .title_wrap_carousel_bottom {
    display: block;
    margin: 0px;
    padding-left: 120px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 25px;
  }
  .wrap_paraph_center_title {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -50px;
    transform: rotate(-90deg);
    /* top: 100px; */
    flex-basis: 150px;
    font-size: 10px;
    color: var(--text-color-blue);
    font-family: "Montserrat", sans-serif;
  }
  .wrap_paraph_center_title span {
    color: var(--color-list-footer);
    margin-right: 5px;
  }
  .wrap_paraph_center {
    display: flex;
  }
  .wrap_paraph_center .paraph_center {
    padding-left: 0px;
    margin-left: -30px;
  }
  .wrap_paraph_bottom {
    display: flex;
  }
  .wrap_paraph_bottom_title {
    display: flex;
    min-width: 150px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    transform: rotate(-90deg);
    /* top: 100px; */
    flex-grow: 1;
    left: -50px;
    font-size: 10px;
    color: var(--text-color-blue);
    font-family: "Montserrat", sans-serif;
  }
  .wrap_paraph_bottom_title span {
    color: var(--color-list-footer);
    margin-right: 5px;
  }
  .paraph_bottom {
    padding-left: 0px;
    padding-right: 120px;
    margin-left: -30px;
  }
  .paraph_bottom_block {
  }
  .bottom_image_wrapconten {
    padding: 0px;
    position: absolute;
    top: 37%;
    left: 55%;
  }
  .footer .list,
  .footer p {
    padding-left: 120px;
  }
  .header_text_sidebar {
    position: absolute;
    bottom: 130px;
    /* left:180px; */
  }
  .carousel {
    margin-left: 0px;
  }
  .border_carousel {
    width: 90vw;
    display: flex;
  }
  .wrap_carousel_content {
    display: flex;
  }
  .border_carousel {
    display: flex;
  }
  .button_next {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    cursor: pointer;
    border: none;
    width: 10%;
  }
}
