@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "MarketIo";
  src: url("/assets/fonts/market-regular.ttf");
  font-weight: 400;
}
p {
  margin: 0px;
}
:root {
  --background-color: #15032a;
  --text-color: #fff;
  --text-color-blue: #b5bbc4;
  --padding-mobile: 40px;
  --color-list-footer: #0d4363;
  --color-paraph--footer: #5c5b61;
  --color-black: #000;
  --color-icon: #f5f5f5;
  --text-color-paraph: #d6d6d6;
  --font-p-10: 10px;
  --font-title: 15px;
  --font-header-big: 55px;
  --lineHeight-header-big: 55px;
}
body {
  background-color: var(--background-color);
  margin: 0px;
  color: var(--text-color);
}
.header {
  position: relative;
  display: flex;
  color: var(--text-color);
}
.header_menu_mini {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  height: 100%;
  left: -65%;
  width: 65%;
  background-color: var(--background-color);
  transition: all 1s;
}
.header_menu_mini_ul {
  padding: 0px;
  list-style: none;
}
.header_menu_mini_ul li {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0px;
}
#show_menu {
  display: none;
}
#show_menu:checked ~ .header_menu_mini {
  left: 0px;
}
/* #show_menu:checked ~.label_hamberger {
left: 43%;
} */
.header_navigator {
  /* display: inline-flex; */
  display: flex;
  width: 50px;
  min-width: 40px;
  height: 100vh;
  flex-direction: column;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_text_sidebar {
  position: absolute;
  transform: rotate(-90deg);
  width: max-content;

  /* left:180px; */
}
.header_navigator p {
  /* display: inline-flex; */
  display: inline-block;
  padding-right: 25px;
}
.header_navigator p img {
  transform: rotate(90deg);
  padding-right: 2px;
}
.header_navigator .header_text_sidebar_redirect {
  padding-right: 80px;
}
.header .label_hamberger {
  position: absolute;
  z-index: 10;
}
.label_hamberger_mini {
  position: absolute;
  right: 10px;
  top: 0px;
}
.header_hamberger {
  width: 20px;

  height: 14px;
  padding: 20px 10px;

  cursor: pointer;
}
.header_text_sidebar_p_big {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-title);
  line-height: 40px;
  /* padding-right: 10px; */
}
.header_text_sidebar_p_small {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-p-10);
  line-height: 40px;
  color: var(--text-color-blue);
}
.header_content {
  flex-grow: 1;
  background-image: url("../images/RectangleE.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  min-width: 240px;
}
.header_content h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: var(--lineHeight-header-big);
  font-size: var(--font-header-big);
  width: 100px;
  margin-top: 15vh;
  /* letter-spacing: 10px; */
}
.header_content .header_content_small h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 35px;
  font-size: var(--font-title);
  margin-bottom: 0px;
  margin-top: 0px;

  /* letter-spacing: 10px; */
}
.header_content .header_content_small p {
  font-family: "Montserrat", sans-serif;
  max-width: 450px;
  min-width: 200;
  line-height: 17px;
  font-size: var(--font-p-10);
  /* letter-spacing: 10px; */
}
.header_content_your {
  margin: 0px;
}
.header_content_threeDot {
  position: absolute;
  width: 25px;
  right: 25px;
  bottom: 3vh;
}
.header_content_mail {
  display: none;
}
.header_content_date {
  display: none;
}
.carousel {
  padding: 20px 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: initial;
  position: relative;
  /* width: 100%; */
  transition: all 1s;
  width: 500%;
  /* margin-left: -290px; */
  /* width: 300px !important; */
}
 .hiden_carousel{
    overflow: hidden;
    width: calc(100vw - 17px);
    height: 365px ;
  
  }
  .wrap_carousel_bottom{
    display: none;
  }
.mySlides {
  width: 280px;
  flex-basis: 280px;
  margin-right: 20px;
  transition: all 1s;
}
.mySlides .image::before {
  content: "";
  z-index: 100;
  width: 20px;
  height: 20px;
  background-color: var(--background-color);
  position: absolute;
  transform: rotate(45deg);
  bottom: -10px;
  left: -10px;
}
.mySlides .image {
  position: relative;
  background-image: url(/assets/images/carouselImage.png);
  background-position: bottom;
  background-size: cover;
  width: 100%;
  width: 280px;
  height: 150px;
}
.mySlides .image_img {
  width: 100%;
  height: 100%;

  min-width: 240px;
}
.wrap_botton_changeSlide{
  display: none;
}
.carousel_people_react {
  display: flex;

  position: absolute;
  right: 10px;
  bottom: 10px;
}
.carousel_people_react p {
  color: var(--text-color);
  margin: 0px;
  font-size: 10px;
  line-height: 8px;
  color: var(--text-color-blue);
  font-family: "Montserrat", sans-serif;
  padding-left: 3px;
}
.carousel_people_react img {
  width: 8px;
  height: 8px;
}
.carousel_text {
  position: relative;
  background-color: var(--text-color);

  height: 175px;
  color: #000;
  min-width: 220px;
}
.carousel_text_wrap_paraph {
  position: relative;
  background-color: var(--text-color);

  padding: 20px 30px 0px 30px;
  color: #000;
}
.carousel_text_wrap_paraph_comment {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid var(--color-icon);
}
.carousel_text .carousel_text_paraph {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
.button_next {
  display: none;
}

.carousel_text_comment {
  position: absolute;
  display: flex;
  left: 20px;
  bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: 45%;
  height: 100%;
  align-items: center;
  border-right: 1px solid var(--color-icon);
}
.carousel_text_comment img {
  width: 20px;
  height: 17px;
  margin-right: 5px;
}
.border_carousel {
  width: 100vw;
  min-width: 240px;
  overflow: scroll;
}
.carousel_text_paraph_wrap_comment {
  position: relative;
}
.carousel_text_dot_wrap {
  height: 50px;
  width: 50px;

  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-icon);
}
.carousel_text_dot {
  width: 15px;
}
.carousel_text_wrap_paraph h1 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  font-size: 20px;
  /* line-height: 30px; */
  margin-bottom: 10px;
  font-weight: 400;
}
.center {
  position: relative;
}
.center_image {
  position: relative;
  background-image: url(/assets/images/imageCenter.png);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 320px;
  height: 70vh;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center_image h1 {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--font-header-big);
  line-height: var(--lineHeight-header-big);
  margin-top: 80px;
  width: 300px;
}
.center_image_only {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 200;
  height: 45px;
  width: 45px;
  left: 43%;
  top: 25%;
  line-height: 45px;
  border: 3px solid var(--text-color);
  padding: 0px;
  border-radius: 50%;
}
.center_image_textBottom {
  position: relative;
  text-align: center;
  /* padding: 0px 20px; */
  bottom: -10vh;
}

.center_image_textBottom h5 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--font-title);
  line-height: 25px;
  margin-top: 40px;
  margin-top: 0px;
  width: 100%;
  
}
.center_image_textBottom p {
  margin: 0px;
  font-family: "Montserrat", sans-serif;

  font-size: var(--font-p-10);
  line-height: 15px;
  max-width: 380px;
}
.paraph_center {
  padding: 40px var(--padding-mobile) 0px var(--padding-mobile);
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-p-10);
  min-width: 240px;
}
.paraph_center p {
  margin-bottom: 20px;
  max-width: 640px;
  color: var(--text-color-paraph);
}
.paraph_bottom {
  font-family: "Montserrat", sans-serif;
  padding: var(--padding-mobile);
  padding-top: 0px;
  display: block;

  min-width: 240px;
}

.paraph_bottom_block {
  font-size: 10px;
  color: var(--text-color-paraph);
}
.paraph_bottom h3 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 5px;
}
.bottom_image {
  position: relative;
  
  background-image: url(/assets/images/imageBottom.png);
  height: 60vh;
  width: 100%;
  min-width: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: end;
}
.bottom_image_wrapconten {
  padding: 60px var(--padding-mobile);
  font-family: "Montserrat", sans-serif;
}
.bottom_image_wrapconten h1 {
  font-size: 35px;
  margin: 0px;
  line-height: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}
.bottom_image_wrapconten h3 {
  font-size: 17px;
  line-height: var(--font-title);
  margin: 0px;
  margin-bottom: 15px;
  font-weight: 400;
}
.bottom_image_wrapconten p {
  font-size: var(--font-p-10);
  margin: 0px;
  max-width: 290px;
  line-height: 25px;
}
.side_navigator {
  display: none;
}
.footer {
  min-width: 320px;
}
.footer .list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding-mobile);
  padding-right: 30px;
}
.footer .list ul {
  list-style: none;
  /* flex-basis: 150px; */
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-p-10);

  padding-left: 0px;
  margin-right: 10px;
}
.footer .list .list_middle {
  margin-right: 20px;
}
.footer .list .list_middle li {
  margin-bottom: 15px;
}
.footer .list .list_paraph {
  line-height: 25px;
  flex-basis: 210px;
  /* flex-basis: 320px; */
  margin-right: 50px;
}

.footer .list ul .title_list {
  color: var(--color-list-footer);
  margin-bottom: 20px;
}
.footer p {
  color: var(--color-paraph--footer);
  padding: var(--padding-mobile);
  padding-top: 0px;
}
.title_carousel {
  display: none;
}
.carousel_bottom {
  display: none;
}
.wrap_paraph_center_title {
  display: none;
}
.wrap_paraph_bottom_title {
  display: none;
}
.center_image_content_date {
  display: none;
}
.list_contact {
  display: none;
}
.header_content_small img{
  display: none;
}
.center_image_textBottom img{
  display: none;
}
@media only screen and (min-width: 480px) {
  .header_hamberger {
    width: 30px;
    height: 25px;
  }
  .paraph_bottom h3 {
    margin-bottom: 15px;
  }
  /* .header_content h1 {
    font-size: 60px;

    /* letter-spacing: 10px; */

  .header_menu_mini {
    left: -50%;
    width: 50%;
  }
  #show_menu:checked ~ .label_hamberger_mini {
    left: 38%;
  }
  .paraph_bottom {
    font-family: "Montserrat", sans-serif;
    padding: var(--padding-mobile);
    padding-top: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px 20px;
    min-width: 240px;
  }
  .paraph_bottom p {
    font-size: var(--font-p-10);
    color: var(--text-color-paraph);
  }
  .paraph_bottom h3 {
    font-size: var(--font-title);
    color: var(--text-color);
    font-weight: 400;
  }
  .paraph_bottom_block {
    max-width: 250px;
  }
  .center_image h1 {
    width: 400px;
  }
  .center_image_only {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 200;
    height: var(--lineHeight-header-big);
    width: var(--lineHeight-header-big);
    left: 42%;
    top: 22%;
    line-height: 45px;
    border: 7px solid var(--text-color);
  }
  :root {
    --background-color: #15032a;
    --text-color: #fff;
    --text-color-blue: #b5bbc4;
    --padding-mobile: 40px;
    --color-list-footer: #0d4363;
    --color-paraph--footer: #5c5b61;
    --color-black: #000;
    --color-icon: #f5f5f5;
    --text-color-paraph: #d6d6d6;
    --font-p-10: 10px;
    --font-title: 15px;
    --font-header-big: 80px;
    --lineHeight-header-big: 90px;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --font-p-10: 10px;
    --font-title: 15px;
    --font-header-big: 100px;
  }
  .header_navigator {
    width: 50px;
  }

  .header_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .header_content h1 {
    position: relative;
    text-align: center;
    width: 450px;
    margin-top: 0px;
  }
  .header_content_small {
    position: absolute;
    bottom: 5vh;
    left: 70px;
    text-align: start;
  }
  .header_content_small_directLeft{
   position: absolute;
   right: -40px;
   top: 10px;
  }
  .header_content_your {
    font-family: "MarketIo", Arial;
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    display: flex;

    justify-content: center;
    align-items: center;
    height: var(--lineHeight-header-big);
    width: var(--lineHeight-header-big);
    left: 40%;
    top: 20%;
    line-height: 45px;
    border: 7px solid var(--text-color);
    padding: 0px;
    border-radius: 50%;
    transform: rotate(-10deg);
    text-transform: lowercase;
    font-weight: 400;
  }
  .header_content_threeDot {
    display: none;
  }
  .header_content_mail {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .header_content_date {
    display:inline-block;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 5vh;
    right: 30px;
    font-size: var(--font-p-10);
    text-align: end;
  }
    .header_content_date img {
   position: absolute;
   top: -30px;
   right: 5px;
  }
  .header_menu_mini {
    left: -40%;
    width: 40%;
  }
  /* #show_menu:checked ~label{
left: 34%;
} */
.header_content_small img{
  display: block;
}
  .center_image_content_date {
    display: block;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: var(--font-p-10);
  }
   .center_image_content_date img {
    
    position: absolute;
    top:-30px;
    right: 0px;
    
  
  }
  .center_image_textBottom img{
  display: block;
position: absolute;
top: 10px;
right: -30px;
}
  /* .center_image h1 {
    margin-top: 120px;
  } */
  .center_image_textBottom {
    position: absolute;
    margin-top: 0px;
    display: block;
    /* width: 80%; */
    left: 70px;
    text-align: start;
    bottom: 30px;
  }
  .center_image {
    left: 50px;
    width: calc(100% - 50px);
  }
  .center_image h1 {
    width: 500px;
  }
  .paraph_center {
    width: 70vw;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .center_navigator {
    display: flex;
  }
  .center_empty_content {
    height: 280px;
    flex-grow: 1;
  }
  .center_wrap {
    margin-top: -280px;
    background-image: url(/assets/images/Layer2.png);
    background-size: 50% 95%;

    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .side_navigator {
    display: flex;
    transform: rotate(-90deg);
    /* flex-direction: column; */
    /* bottom: 150px;
     left: -110px; */
    z-index: 1000;
    position: relative;
    left: -15px;
    top: -80px;
  }
  .side_navigator p {
    margin-right: 20px;
    line-height: 45px;
  }
  .side_navigator .image {
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    padding-left: 34px;
    /* margin-right: 40px; */
    line-height: 100px;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: var(--color-black);
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .title_carousel {
    display: block;
    margin: 0px;
    padding-left: 120px;
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-title);
    font-weight: 400;
    line-height: 20px;
    padding-top: 35px;
    padding-bottom: 10px;
  }
  .mySlides {
    width: 220px;
    flex-basis: 220px;
    margin-right: 25px;
    transition: width 2s;
  }
  .mySlides .image_img {
    min-width: 200px;
  }
  .mySlides_bottom .image_img {
    width: 220px;
    height: 120px;
  }
  .mySlides .image::before {
    width: 10px;
    height: 10px;

    bottom: -5px;
    left: -5px;
  }
  .mySlides .image {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 120px;
    min-width: 220px;
  }
  .carousel_text_dot_wrap {
    height: 30px;
    width: 30px;
  }
  .carousel_text_wrap_paraph {
    position: relative;
    background-color: var(--text-color);
    padding: 20px;
    padding-top: 10px;

    color: #000;
  }
  .hiden_carousel{
    overflow: hidden;
    width: calc(90vw - 17px);
    height: calc(302px - 17px);
  }
  .carousel_text {
    width: 220px;
    height: 125px;
  }
  .carousel_text h1 {
    font-size: 13px;

    margin-bottom: 0px;
  }
  /* .carousel_text_dot {
    width: 15px;
    bottom: 10px;
  } */
  .carousel_text_wrap_paraph_comment {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0px;

    border-top: 1px solid var(--color-icon);
  }
    .wrap_carousel_bottom{
    display: block;
  }
  .carousel_text_comment {
    font-size: 10px;
    left: 15px;
  }
  .carousel_text_comment img {
    width: 15px;
  }
  .carousel_bottom {
    padding: 20px 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: initial;
    position: relative;
    transition: all 1s;

    /* width: 100%; */
  }
  .mySlides_bottom {
    width: 220px;
    flex-basis: 200px;
    margin-right: 20px;
    transition: width 2s;
  }
  .mySlides_bottom .image {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 120px;
  }
  .mySlides_bottom .image::before {
    content: "";
    z-index: 100;
    width: 10px;
    height: 10px;
    background-color: var(--background-color);
    position: absolute;
    transform: rotate(45deg);
    bottom: -5px;
    left: -5px;
  }
  .carousel_frame_empty {
    width: 100%;
    height: 250px;
  }
  .wrap_carousel {
    background-image: url(/assets/images/Layer2.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
  }
  .center {
    margin-top: -240px;
  }

  .paraph_bottom {
    display: flex;
  }
  /* .paraph_bottom p {
    font-size: 10px;
  } */
  .paraph_bottom h3 {
    font-size: var(--font-title);
  }
  .title_wrap_carousel_bottom {
    display: block;
    margin: 0px;
    padding-left: 120px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 25px;
  }
  .wrap_paraph_center_title {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -50px;
    transform: rotate(-90deg);
    /* top: 100px; */
    flex-basis: 150px;
    font-size: var(--font-p-10);
    color: var(--text-color-blue);
    font-family: "Montserrat", sans-serif;
  }
  .wrap_paraph_center_title span {
    color: var(--color-list-footer);
    margin-right: 5px;
  }
  .wrap_paraph_center {
    display: flex;
  }
  .wrap_paraph_center .paraph_center {
    padding-left: 0px;
    margin-left: -30px;
  }
  .wrap_paraph_bottom {
    display: flex;
  }
  .wrap_paraph_bottom_title {
    display: flex;
    min-width: 150px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    transform: rotate(-90deg);
    /* top: 100px; */
    /* flex-grow: 1; */
    left: -50px;
    font-size: var(--font-p-10);
    color: var(--text-color-blue);
    font-family: "Montserrat", sans-serif;
    margin: 0px;
  }
  .wrap_paraph_bottom_title span {
    color: var(--color-list-footer);
    margin-right: 5px;
  }
  .paraph_bottom {
    padding: 50px 50px 50px 0px;
    margin-left: -30px;
    width: 100%;
    /* height: 500px; */
  }

  .bottom_image_wrapconten {
    padding: 0px;
    position: absolute;
    top: 37%;
    left: 55%;
  }
  .footer .list,
  .footer p {
    padding-left: 120px;
  }
  .header_text_sidebar {
    position: absolute;
    bottom: 32vh;
    /* left:180px; */
  }
  
  .carousel {
    margin-left: 0px;
  }
  .border_carousel {
    width: 90vw;
    display: flex;
  }
  .hiden_scroll_carousel{
width: calc(100% - 50px);
overflow: hidden;
  }
  .wrap_carousel_content {
    display: flex;
  }
  .border_carousel {
    display: flex;
  }
  .wrap_botton_changeSlide {
    display: flex;
    flex-direction: column;

    border: none;
    width: 10%;
  }
  .button_changeSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
    height: 50%;
    font-size: 50px;
  }
  .list_contact {
    display: block;
  }
  .list_contact li {
    display: block;
    margin-bottom: 15px;
    width: fit-content;
  }
  .footer .list .list_paraph {
    flex-basis: 320px;
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    --font-p-10: 15px;
    --font-title: 20px;
    --font-header-big: 132px;
    --lineHeight-header-big: 120px;
  }
  .center_image h1 {
    width: 660px;
    
  }
  .center_image_textBottom h5 {
line-height: 40px;
  }
  .center_image_textBottom p {
line-height: 25px;
  }
  .header_content h1 {
    width: 580px;
  }
  .header_navigator {
    width: 70px;
  }
  .header_hamberger {
    width: 40px;
  }
  .header_text_sidebar {
    bottom: 25vh;
  }
  .side_navigator {
    position: relative;
    top: -16vh;
    left: -45px;
  }
  .center_image {
    left: 70px;
    width: calc(100% - 70px);
  }
  .header_content .header_content_small p {
    max-width: 620px;
  }
  .center_image_textBottom p {
    max-width: 620px;
  }
  .paraph_center {
    /* padding: 40px var(--padding-mobile) 0px var(--padding-mobile);
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-p-10); */
  }
  .paraph_bottom_block {
    max-width: 310px;
    margin-right: 3vw;
  }
  .wrap_paraph_center_title {
    flex-basis: 250px;
    left: -67px;
  }
  .wrap_paraph_bottom_title {
    max-width: 250px;
    left: -83px;
    flex-basis: 500px;
  }
  .bottom_image_wrapconten h1 {
    font-size: 50px;
  }
  .bottom_image_wrapconten p {
    max-width: 480px;
  }
  .header_content_mail {
    width: 40px;
    height: 40px;
  }
  .header_content_your {
    font-size: 50px;
  }
  .center_image_only {
    font-size: 50px;
  }
  .paraph_bottom {
    justify-content: center;
  }
  .wrap_paraph_center .paraph_center {
    width: 100%;
  }
  .header_content_small {
    left: 200px;
    bottom: 10vh;
  }
  .header_content_date {
    bottom: 10vh;
    right: 120px;
  }
  .center_image_textBottom {
    left: 200px;
    bottom: 10vh;
  }
  .wrap_paraph_center .paraph_center {
    margin-left: 60px;
  }
  .paraph_center {
  }
  .title_carousel {
    padding-left: 270px;
  }
  .center_image_content_date {
    bottom: 10vh;
    right: 120px;
  }
  .paraph_bottom {
    margin-left: 0px;
  }
}
